/*global ruls*/
:root {
    --main-color : #e2bebe;
    --section-background : #eee;
    --icon-color : #ec3c3c;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:"Work Sans" , sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Spicial */
.special-heading {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #b9cee2;
    letter-spacing: -2px;
    margin: 0;
}

.special-heading + p {
    margin: -50px 0 0;
    color: #6c6464;
    text-align: center;
    font-size: 20px;
}

@media (max-width : 767px ) {
    .special-heading {
        font-size: 80px;
    }
    .special-heading + p{
        font-size: 15px;
    }
}



/* header */
.header {
    padding: 20px;
}


.header .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
    height:calc(64px - 40px) ;
}

.container .logo {
    width: 80px;
    height: 50px;
}

.container .links {
    position: relative;
}
.container .links .icon:hover span:nth-child(2){
    width: 100%;
}

.container .links:hover ul {
    transition-duration: 0.4s;
    display: block;
}

.container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container .links .icon span{
    background-color: brown;
    margin-bottom: 5px;
    height: 2px;
}

.container .links .icon span:first-child{
    width: 100%;
}

.container .links .icon span:nth-child(2){
    width: 75%;
    transition-duration: .5s;
}

.container .links .icon span:last-child{
    width: 100%;
}


.header .links ul {
    padding: 0px;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    list-style-type: none;
    min-width: 150px;
    background-color: var(--section-background);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content:"";
    border: 15px solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -30px;
    right: 3px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    transition-duration: .4s;
}

.header .links ul li a:hover {
    font-weight: bold;
    transform: scale(1.2);
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 2px solid rgb(229, 218, 218);
}


/* Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .Intro-text {
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing .Intro-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0; 
}

.landing .Intro-text .my-p1 {
    font-size: 19px;
    list-style: none;
    line-height: 1.8;
}


/* Fratures */
.Features {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);
}

.Features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 10px;
}

.Features .container .Feature{
    background-color: #eae1e1;
    text-align: center;   
    padding: 30px;
    border-radius: 10px;
}

.Features .container .Feature i {
    color: var(--icon-color);
}

.Features .container .Feature h3 {
    font-weight: 800;
    margin: 15px 0;
}

.Features .container .Feature p {
    line-height: 1.6;
    font-size: 18px;
}

.Features .container .Feature.secound p::first-line {
    background-color: #c2bcbc;
}


/* Services */
.services {
    padding-top: 50px;
    padding-bottom: 50px;
}


.services .services-contant {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
}

.services .services-contant .service {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    background-color: #eae1e1;
}

@media (max-width : 767px) {
    .services .services-contant .service {
        flex-direction: column;
        align-items: center;
    }
}

.services .services-contant .service i {
    color: var(--icon-color);
    flex-basis: 60px;
}

.services .services-contant .service .text-sevice {
    flex: 1;
}

.services .services-contant .service h3 {
    font-weight: 800;
    margin: 0 0 20px 0;
}

.services .services-contant .service p {
    line-height: 1.4;
}

.services .services-contant .image{
    position: relative;
}

.services .services-contant .image::before{
    content: "";
    background-color: #ec3c3c;
    width: 50px;
    position: absolute;
    top: 15px;
    right: 5px;
    height: calc(100% + 10px);
    z-index: -1;
}

.services .services-contant .image .img1 {
    width: 320px;
    margin-top: 50px;
}

@media (max-width : 1199px) { 
    .services .services-contant .image-m 
    {
        display: none;
    }
}


/* portfolio */
.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);
}

.portfolio .portfolio-contant {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
}

.portfolio .portfolio-contant .card {
    padding: 30px;
    text-align: center;
    border: 1px dashed  rgb(30, 11, 11);
    border-radius: 15px;
}

.portfolio .portfolio-contant .card .img {
    max-width: 100%;
}
.portfolio .portfolio-contant .card h3{
    font-weight: 800;
}
.portfolio .portfolio-contant .card h3::first-letter{
    color: rgb(26, 26, 133);
}
.portfolio .portfolio-contant .card p{
    line-height: 1.4;
}

/* About */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .about-contant {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width : 991px) {
    .about .about-contant
    {
        flex-direction: column;
        text-align: center;
    }
    .about .about-contant .text-section {
        margin-top: 50px;
    }
}
  
.about .about-contant .img2 {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-contant .img2 img{
    max-width: 100%;
}

.about .about-contant .img2::before {
    content: "";
    background-color: #ec3c3c;
    width: 50px;
    position: absolute;
    top: -15px;
    left: -35px;
    height: calc(100% + 30px);
    z-index: -1;
}

.about .about-contant .text-section {
    /* flex: 1; */
    flex-basis: calc(100% - 500px);
}

.about .about-contant .text-section p {
    line-height: 1.4;
    font-weight: 600;
} 

.about .about-contant .text-section hr {
    width: 150px;
}


/* Contact */
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);
}

.contact .contact-contant {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact .contact-contant h2 {
    margin: 50px 0;
}

.contact .contact-contant .h2-one {
    margin: 50px 0 50px 70px;
    color: burlywood;
    text-align: center;
    border-radius: 20px;
    border: 1px #565050 dashed;
    padding: 10px;
}

.contact .contact-contant .h2-two {
    margin: 50px 0 50px 20px;
    color:#9A7E6F;
    font-size: 30px;
    font-weight: 700;    
    border-bottom: 2px solid #565050;
    border-right: 2px solid #565050;
    border-radius: 10px;
    padding: 10px;
    display: block;
}
.contact .contact-contant .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact .contact-contant .social i{
    padding: 5px;
    color: var(--icon-color);
}


/* Footer */
.footer{
    padding-top: 50px;
    padding-bottom: 0;
}
.footer-container {
    background-color: rgb(46, 46, 107);
    color: rgb(230, 227, 222);
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.footer-container span {
    color: #9A7E6F;
    font-weight: bold;
} 